.SignUpFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignUpForm {
  background-color: aqua;
  margin: 4em;
  padding: 3.5em 2.5em;
  border-radius: 1em;
  box-shadow: 0 2em 2.5em -1.75em rgba(0, 0, 0, 0.25);
}

.form-group {
  padding: 0.75em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em 2em 1em;
}
